.coverImage{
    width: 100%;
    height:70vh;
    margin-bottom: 20px;
}

.Link_style{
    background-color:royalblue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    margin: 10px;
}
Link:hover Link:active{
    color:gold;
}

.butt{
    margin-top: 20px;
    margin-right: 4px;
    position: relative;
    background-color: #04AA6D;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    padding: 5px;
    /* width: 200px; */
    border-right: wheat 2px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.butt:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }

  .butt:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }