.center{
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    border:0
}
.close{
    float: right;
}

.img-containar{
    background: cornsilk;
}
img.login{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right:auto;
    border-radius: 50%;
}

